

/* .swiper-button-prev, .swiper-rtl .swiper-button-next{
  color: white !important;
  background-color: #02A3C1 !important;
  font-size: 3px !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  color: white !important;
  background-color: #02A3C1 !important;
}  */


.txone{
  font-size: 1.25rem;
}
.slidecalo{
  background-color:#02a3c1 !important ;
  height: 100% !important;
  color: white !important;
  
}

@media screen and (max-width:500px) {
  .txone{
      font-size: 18px !important;
  }
}
